.home-page {
    padding: 1rem;
    background-color: #e3e3e3;
    flex: 1;
}

.match {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.complete {
    font-weight: 800;
}

button {
    height: 1.5rem;
    margin-left: 1rem;
}
